:host {
  display: block;

  padding-top: 56px;

  .demo-chart {
    height: calc(100vh - 400px);
  }

  .card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .title-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .select {
    margin-left: -16px;
  }
}
