:host {
  display: block;

  padding-top: 56px;

  .demo-chart {
    height: calc(100vh - 400px);
  }

  .pie-chart{
    height: calc(100vh - 275px);
  }

  .card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-title-size {
    width: calc(100vw - 215px);
  }

  .title-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .select {
    margin-left: -16px;
  }

  .top-margin {
    margin-top: 2%;
  }

  .chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
}
