:host {
  display: block;

  width: 85%;

  .container {
    display: flex;
  }

  .edit-button {
    padding-left: 25%;
    padding-right: 2%;
  }

  .status-chip {
    margin-bottom: 10%;
    margin-left: 5%;
  }
}
