  <ion-toolbar>
    <ion-title class="ion-padding-start ion-padding-top">
      {{this.event.title}}
    </ion-title>

    <ion-card-subtitle class="ion-padding">
      {{formatEventDate(this.event.startingTime)}}
    </ion-card-subtitle>

    <ion-chip slot="end" color="primary">
      <ion-label>{{ getStatusLabel(this.event.status) }}</ion-label>
    </ion-chip>
  </ion-toolbar>

  <ion-item *ngIf="event.status != 0">
    <ion-label>Starting time: </ion-label>
    <ion-badge color="secondary" slot="end"> {{ formatEventTime(this.event.startingTime) }}
    </ion-badge>
  </ion-item>

  <ion-item *ngIf="event.status == 2">
    <ion-label>Duration: </ion-label>
    <ion-badge color="secondary" slot="end">
      {{getEventDuration()}}
    </ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Type:</ion-label>
    <ion-badge color="secondary" slot="end">
      {{ getTypeLabel(event.type) }}
    </ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Participants:</ion-label>
    <ion-select *ngIf="event.people.length > 0" interface="popover">
      <ion-select-option *ngFor="let person of event.people" disabled> {{ getPersonName(person) }} </ion-select-option>
    </ion-select>
    <ion-text *ngIf="!event.people.length">
      None
    </ion-text>
  </ion-item>

  <ion-item *ngIf="event.status == 2">
    <ion-label>Grade:</ion-label>
    <ion-badge color="secondary" slot="end">
      {{event.grade}}
    </ion-badge>
  </ion-item>

  <form *ngIf="event.status == 1" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Grade</ion-label>
      <ion-input formControlName="grade" placeholder="grade" type="number"></ion-input>
    </ion-item>
    <ion-button class="ion-margin" expand="full" color="success " type="submit"> End Event </ion-button>
  </form>

  <ion-button disabled="{{isStartEventButtonEnabled()}}" class="ion-margin" *ngIf="isEnabled()" expand="full" color="success" (click)="updateEvent()">
    {{getEventAction()}}
  </ion-button>
