:host {
  display: block;

  width: 85%;

  .container {
    display: flex;
  }

  .edit-button {
    padding-left: 32.5%;
    padding-right: 2%;
  }

  .status-chip {
    margin-bottom: 5%;
    margin-left: -30px;
  }
}
