:host {
  display: block;

  width: 85%;

  .container {
    display: flex;
  }

  .subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  ion-icon{
    font-size: 25px;
    padding-right: 5px;
  }
}
