  <ion-toolbar>
    <ion-title class="ion-padding-start ion-padding-top">
      {{this.event.title}}
    </ion-title>

    <ion-card-subtitle class="ion-padding">
      {{formatEventDate(this.event.startingTime)}}
    </ion-card-subtitle>

    <ion-chip slot="end" color="primary">
      <ion-label>{{getStatusLabel(this.event.status)}}</ion-label>
    </ion-chip>
  </ion-toolbar>

<ion-content class="ion-padding">
  <ion-label *ngIf="event.status != 0">
      Starting time:
      <ion-badge>
        {{formatEventTime(this.event.startingTime)}}
      </ion-badge>
  </ion-label>

  <ion-label *ngIf="event.status == 2">
    Ending time:
    <ion-badge>
      {{formatEventTime(this.event.endingTime)}}
    </ion-badge>
  </ion-label>

  <ion-label>
    Participants:
  </ion-label>

  <ion-chip *ngFor="let person of event.people">{{getPersonName(person)}}</ion-chip>

  <form *ngIf="event.status == 1" [formGroup]="form">
    <ion-item>
      <ion-label>Grade</ion-label>
      <ion-input formControlName="grade" placeholder="grade" type="number"></ion-input>
    </ion-item>
  </form>

  <ion-button *ngIf="isEnabled()" class="ion-padding" expand="full" color="success" (click)="updateEvent()">{{getEventAction()}}</ion-button>
</ion-content>
