<ion-content overflow-scroll="true">
  <section *ngIf="people && people.length">
    <ion-searchbar [(ngModel)]="searchTerm.firstName"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let person of people | filterBy: searchTerm">
        <ion-label>
          <h2>{{getFullName(person)}}</h2>
          <h3>{{person.age}}</h3>
          <p>{{getGenderLabel(person.gender)}}</p>
        </ion-label>
        <ion-icon slot="end" name="create-outline" (click)="presentModal(person)"></ion-icon>
        <ion-icon slot="end" name="trash-outline" (click)="deletePerson(person)"></ion-icon>
      </ion-item>
    </ion-list>
  </section>

  <ion-title class="ion-padding" *ngIf="people && !people.length">
    You have no people
  </ion-title>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
