<ion-content [scrollEvents]="true">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="addEvent()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Title*</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>People</ion-label>
        <ion-select [disabled]="!people.length" formControlName="people" multiple="true" cancelText="Nah" okText="Okay!">
          <ion-select-option *ngFor="let person of people" [value]="person.id"> {{getPersonName(person)}} </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Type*</ion-label>
        <ion-select formControlName="type" okText="Okay" cancelText="Dismiss">
          <ion-select-option [value]="0">Recreational</ion-select-option>
          <ion-select-option [value]="1">Educational</ion-select-option>
          <ion-select-option [value]="2">Work related</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="start">
          <ion-item slot="header">
            <ion-label>Date*</ion-label>
            <ion-note slot="end"> {{ formatEventTime(this.form.controls.eventDate.value) }} </ion-note>
          </ion-item>
          <ion-datetime size="cover" [min]="today" formControlName="eventDate" slot="content" presentation="date"></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">{{getButtonLabel()}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
