<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="ion-justify-content-between content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="ion-padding-bottom">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <div class="password-input">
          <ion-input formControlName="password" [type]="arePasswordsVisible[0] ? 'text' : 'password'"></ion-input>
          <ion-icon class="show-option" [hidden]="arePasswordsVisible[0]" name="eye-off-outline" (click)="arePasswordsVisible[0] = true"></ion-icon>
          <ion-icon class="hide-option" [hidden]="!arePasswordsVisible[0]" name="eye-outline" (click)="arePasswordsVisible[0] = false"></ion-icon>
        </div>
        <span *ngIf="form.controls.password.hasError('pattern')" slot="error">
      Passwords should be at least 8 characters long and contain 1 number,
    1 lowercase letter, 1 uppercase letter and one of the following special characters: $, @, $, !, %, *, ? or &.
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <div class="password-input">
          <ion-input formControlName="confirmPassword" [type]="arePasswordsVisible[1] ? 'text' : 'password'"></ion-input>
          <ion-icon class="show-option" [hidden]="arePasswordsVisible[1]" name="eye-off-outline" (click)="arePasswordsVisible[1] = true"></ion-icon>
          <ion-icon class="hide-option" [hidden]="!arePasswordsVisible[1]" name="eye-outline" (click)="arePasswordsVisible[1] = false"></ion-icon>
        </div>
        <span *ngIf="form.controls.confirmPassword.hasError('pattern')" slot="error">
          Passwords should be at least 8 characters long and contain one number,
          one character and one of the following special characters: $, @, $, !, %, *, ? or &.
        </span>
      </ion-item>

      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && form.hasError('mismatchedPasswords')">
        Passwords do not match.
      </ion-text>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <span class="divider line one-line">or</span>

      <div class="ion-text-center ion-padding-top">
        <ion-label> Already have an account? </ion-label>
        <ion-text color="primary" (click)="navigateToLogin()">Log in</ion-text>
      </div>
  </section>
</ion-content>
