<ion-text class="ion-text-center">
  <h1> Sign Up </h1>
</ion-text>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="authWithGoogle()">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-label slot="bottom" class="ion-text-center"> Already have an account?</ion-label>
<ion-button (click)="navigateToLogin()">Login</ion-button>
