<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add a new person</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding-top">
  <form [formGroup]="form" (ngSubmit)="addPerson()">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName" placeholder="First Name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="lastName" placeholder="Last Name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input formControlName="age" type='number' placeholder="Age" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Add</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

