<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add a new person</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding-top">
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type='number' placeholder="Age"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="success">Save</ion-button>
  <ion-button color="warning">Cancel</ion-button>
</ion-content>

