<ion-title *ngIf="events && events.length > 0" class="ion-text-center ion-padding"> {{ eventsDate | date }} </ion-title>
<section #button>
  <ion-text *ngIf="events && events.length > 1">
    swipe to see more
  </ion-text>
</section>

<swiper [effect]="'coverflow'"
        [grabCursor]="true"
        [centeredSlides]="true"
        [slidesPerView]="'auto'"
        [coverflowEffect]="{
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true
          }"
        [pagination]="true"
        *ngIf="events">
  <ng-template swiperSlide *ngFor="let event of events">
    <app-event-details (deleteEventEmitter)="deleteEvent($event)" [event]="event"></app-event-details>
  </ng-template>
</swiper>

