<ion-title *ngIf="events && events.length > 0" class="ion-text-center ion-padding"> {{ eventsDate | date }} </ion-title>
<ion-text color="medium" class="see-more-text" *ngIf="events && events.length > 1">
  swipe to see more
</ion-text>

<swiper [effect]="'coverflow'"
        [grabCursor]="true"
        [centeredSlides]="true"
        [slidesPerView]="'auto'"
        [coverflowEffect]="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: false
        }"
        [pagination]="true"
        *ngIf="events">
  <ng-template swiperSlide *ngFor="let event of events">
    <app-event-details (updateEventEmitter)="updateEvent($event)" (deleteEventEmitter)="deleteEvent($event)" [event]="event"></app-event-details>
  </ng-template>
</swiper>

