<ion-header>
  <ion-toolbar>
    <ion-title>
      Add event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="addEvent()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>People</ion-label>
      <ion-select formControlName="people" multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option *ngFor="let person of people" [value]="person"> {{getPersonName(person)}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select formControlName="type" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="0">Recreational</ion-select-option>
        <ion-select-option value="1">Educational</ion-select-option>
        <ion-select-option value="2">Work related</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="grid-item">
      <ion-datetime formControlName="eventDate" presentation="startingTime"></ion-datetime>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Add</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
